autom4te.cache
configure.scan
autoscan.log
patches/
*.patch
*.diff
todo/
tmp/
*.swp
usr/
*~
Makefile.in
aclocal.m4
config.aux/config.guess
config.aux/config.sub
config.aux/compile
config.aux/depcomp
config.aux/install-sh
config.aux/missing
config.h.in
configure
doc/Makefile.in
doc/man1/Makefile.in
doc/man1/quvi.1
src/Makefile.in
src/quvi/Makefile.in
src/quvi/cmdline.c
src/quvi/cmdline.h
ChangeLog
VERSION
